<%- include("includes/head.ejs") %>
  <body>
    <h2>The random num is : <%= num %></h2>
    <% if (num == 6) { %>

    <h2>Nice ! rolldice again</h2>

    <% } %>
   
  </body>
  <%- include("includes/footer.ejs") %>
</html>
